<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset='utf-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Web Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Dancing+Script:wght@400..700&display=swap"
		rel="stylesheet">

	<!-- CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
		integrity="sha384-tViUnnbYAV00FLIhhi3v/dWt3Jxw4gZQcNoSCxCIFNJVCx7/D55/wXsrNIRANwdD" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">

	<!-- JS -->
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />

	<title>新規お知らせ作成</title>
</head>

<body>

	<div th:replace="fragments/header :: header"></div>

	<main>
		<div class="crud-ope-name">
			<div class="card text-white bg-success mb-3" style="max-width: 100%;">
				<div class="card-header">新規お知らせ作成</div>
				<div class="card-body">
					<h5 class="card-title">お知らせ内容入力</h5>
					<p class="card-text">以下のフォームに必要事項を入力してください</p>
				</div>
			</div>
		</div>

		<div class="crud-ope-form">
			<form th:action="@{/notices/addNoticeConf}" th:object="${notice}" method="post">
				<div class="form-group">
					<div class="form-row">
						<label for="noticeTitle">お知らせ名</label>
						<input type="text" id="noticeTitle" th:field="*{noticeTitle}">
						<span th:errors="*{noticeTitle}" class="error-message"></span>
					</div>
				</div>

				<div class="form-row-a">
					<label for="noticeTarget">対象</label>
					<select id="noticeTarget" th:field="*{noticeTarget}">
						<th:block th:each="dropdownValue : ${dropdownValues}">
							<option th:value="${dropdownValue}" th:text="${dropdownValue}"></option>
						</th:block>
					</select>
				</div>

				<div>
					<label for="eventDropdown">関連行事</label>
					<select id="eventDropdown" name="eventId" th:value="*{eventId}">
						<option value="">対象行事なし</option>
						<option th:each="event : ${dropdownTitles}" th:text="${event.formattedTitle}"
							th:value="${event.eventId}" th:selected="${event.eventId} == *{eventId}">
						</option>
					</select>

					<input type="hidden" id="formattedTitle" name="formattedTitle" th:value="*{formattedTitle}">
				</div>

				<div class="form-row-a">

					<label for="noticeDetail">内容</label>

					<div id="editor"></div>

					<textarea id="noticeDetail" name="noticeDetail" th:field="*{noticeDetail}"
						style="display: none;"></textarea>
				</div>


				<div class="crud-ope-button">
					<button type="submit" class="btn btn-primary">入力内容確認</button>
					<a th:href="@{/inqueries}" class="btn btn-secondary">キャンセル</a>
				</div>
			</form>
		</div>
	</main>

	<!-- Include the Quill library -->
	<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>

	<!-- Initialize Quill editor -->
	<script>
		const toolbarOptions = [
			['bold', 'italic', 'underline', 'strike'],        // toggled buttons
			['link', 'image'],

			[{'list': 'ordered'}, {'list': 'bullet'}, {'list': 'check'}],
			[{'script': 'sub'}, {'script': 'super'}],      // superscript/subscript
			[{'indent': '-1'}, {'indent': '+1'}],          // outdent/indent

			[{'size': ['small', false, 'large', 'huge']}],  // custom dropdown
			[{'header': [1, 2, 3, 4, 5, 6, false]}],

			[{'color': []}, {'background': []}],          // dropdown with defaults from theme
			[{'font': []}],
			[{'align': []}],

			['clean']                                         // remove formatting button
		];

		const quill = new Quill('#editor', {
			modules: {
				toolbar: toolbarOptions
			},
			theme: 'snow',
			placeholder: ''
		});

		const existingContent = document.querySelector('#noticeDetail').value;
		if (existingContent) {
			quill.root.innerHTML = existingContent;
		}


		const form = document.querySelector('form');
		form.onsubmit = function () {
			// Get the Quill editor content and set it to the textarea
			const noticeDetail = document.querySelector('#noticeDetail');
			noticeDetail.value = quill.root.innerHTML;  // Quill editor's HTML content
		};

		document.getElementById('eventDropdown').addEventListener('change', function () {
			const selectedOption = this.options[this.selectedIndex];
			document.getElementById('formattedTitle').value = selectedOption.text;
		});
	</script>

</body>

</html>