<!DOCTYPE html>
<html lang='ja'>

<head>
	<meta charset='utf-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Web Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&display=swap" rel="stylesheet">

	<!-- CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
		integrity="sha384-tViUnnbYAV00FLIhhi3v/dWt3Jxw4gZQcNoSCxCIFNJVCx7/D55/wXsrNIRANwdD" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/fullcalendar.min.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">

	<!-- JS -->
	<script th:src="@{/js/fullcalendar.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>

<body>
	<div th:replace="fragments/header :: header"></div>

	<main>
		<div class="crud-ope-name">
			<div class="card text-white bg-success mb-3" style="max-width: 100%;">

				<div class="card-body">
					<h2 class="card-title">[[${notice.noticeTitle}]] 詳細</h2>
				</div>
			</div>
		</div>

		<div class="detail-contets" th:object="${notice}">


			<h3>[[*{noticeTitle}]]</h3>
			<p>【対 象】 [[*{noticeTarget}]]</p>
			<p>【関連行事】 <a th:href="@{/events/detailEvent/{id} (id=*{eeventId})}">[[*{eventTitle}]]</a></p>
			<p>【内 容】</p>
			<p th:utext="*{noticeDetail}"></p>


			<div class="crud-ope-button">
				<a th:href="@{/inqueries/addInquery(noticeId=${notice.noticeId}, noticeTitle=${notice.noticeTitle})}">
					<button type="button" class="btn btn-primary">問い合わせ</button>
				</a>
				<div th:if="${session.accountType == 'teacher'}">
				<a th:href="@{/notices/deleteNoticeConf/{id} (id=${notice.noticeId})}">
					<button type="button" class="btn btn-danger">削除</button>
				</a>
				</div>
			</div>
			<p>※行事に対するお問い合わせは<a th:href="@{/events/detailEvent/{id} (id=*{eeventId})}">行事詳細ページ</a>よりお願いいたします。</p>

		</div>
	</main>

</body>

</html>