<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&display=swap" rel="stylesheet">
	<title>お知らせ編集</title>
</head>

<body>
	<header class="container-fluid header">
		<div class="row shcool-name-and-nav">
			<div class="col-12 col-md-6 school-name">
				<a href="/home" class="d-flex align-items-center text-decoration-none text-dark">
					<img src="/images/logo_system.png" alt="ロゴ" class="img-fluid"
						style="width: 20%; margin-right: 10px;">
					<h2 class="mb-0">横浜市立新横浜小学校</h2>
				</a>
			</div>

			<div class="col-12 col-md-6 nav-link">
				<div class="row navs">
					<div class="col-3"><a th:href="@{/notices}">お知らせ</a></div>
					<div class="col-3"><a th:href="@{/events}">行事予定</a></div>
					<div class="col-3"><a th:href="@{/inqueries}">問い合わせ</a></div>
					<div class="col-3"><a th:href="@{/logout}">ログアウト</a></div>
				</div>
			</div>

		</div>


		<div class="card text-white bg-warning mb-3" style="max-width: 100%;">
			<div class="card-header">お知らせ編集</div>
			<div class="card-body">
				<h5 class="card-title">お知らせ編集完了/h5>
				<p class="card-text">お知らせの編集が完了しました</p>
			</div>
		</div>
	</header>
	<main>

</body>
</html>