<!DOCTYPE html>
<html lang='ja'>

<head>
	<meta charset='utf-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Web Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&display=swap" rel="stylesheet">

	<!-- CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
		integrity="sha384-tViUnnbYAV00FLIhhi3v/dWt3Jxw4gZQcNoSCxCIFNJVCx7/D55/wXsrNIRANwdD" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/fullcalendar.min.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">

	<!-- JS -->
	<script th:src="@{/js/fullcalendar.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>

<body>
	<div th:replace="fragments/header :: header"></div>

	<main class="main-contents">
		<div class="page-title">
			<h1 class="detail-title">お知らせ</h1>
			<a class="btn btn-primary add-btn" th:href="@{/notices/addNotice}">
				<i class="bi bi-plus-circle"></i>新規お知らせ登録
			</a>
		</div>


		<div class="container mt-4">
			<div class="row">
				<div class="col-md-3 mb-4" th:each="notice : ${notices}">
					<div class="card h-100">
						<div class="card-img-overlay">
							<p th:text="${notice.noticeTarget}" class="text-white"></p>
						</div>
						<img th:src="@{'/images/' + ${notice.targetColor}}" alt="学年カラー画像" class="card-img-top" />
						<div class="card-body">
							<p>[[${#temporals.format(notice.lastUpdate,'yyyy.MM.dd')}]] [[${notice.updateStatus}]]</p>
							<h5 class="card-title">[[${notice.noticeTitle}]]</h5>
							<p th:text="${#strings.abbreviate(notice.noticeDetail, 30)}"></p>
							<a th:href="@{/notices/detailNotice/{id}(id=${notice.noticeId})}">>></a>
						</div>
					</div>
				</div>
			</div>
		</div>


	</main>
</body>

</html>