<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sss.app.mapper.InqueryMapper">

	<select id="selectInqueries" resultType="Inquery">
		SELECT * FROM inqueries
	</select>

	<select id="selectInqueriesByEventId" resultType="com.sss.app.domain.Inquery">
		SELECT
		i.inquery_id,
		i.inquery_title,
		i.inquery_detail,
		i.answer,
		i.status,
		i.inquery_date,
		i.answer_date,
		i.event_id,
		e.event_title,
		e.event_start_datetime,
		e.event_end_datetime
		FROM inqueries i
		JOIN events e ON i.event_id = e.event_id
		WHERE i.event_id IS NOT NULL
		ORDER BY i.inquery_date DESC
	</select>

	<select id="selectInqueriesByNoticeId" resultType="com.sss.app.domain.Inquery">
		SELECT
		i.inquery_id,
		i.inquery_title,
		i.inquery_detail,
		i.answer,
		i.status,
		i.inquery_date,
		i.answer_date,
		i.notice_id,		
		e.notice_title,
		e.notice_date
		FROM inqueries i
		JOIN notices e ON i.notice_id = e.notice_id
		WHERE i.notice_id IS NOT NULL
		ORDER BY i.inquery_date DESC
	</select>


	<insert id="insert" parameterType="Inquery">
		INSERT INTO
		inqueries(inquery_detail, answer, status, inquery_date)
		VALUES
		(#{inqueryDetail}, #{answer}, #{status}, #{inqueryDate})
	</insert>

	<update id="update" parameterType="Inquery">
		UPDATE inqueries
		SET answer =
		#{answer},
		status = #{status},
		answer_date = #{answerDate}
		WHERE
		inquery_id = #{inqueryId}
	</update>

	<delete id="delete" parameterType="int">
		DELETE FROM inqueries WHERE
		inquery_id = #{inqueryId}
	</delete>

</mapper>