<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sss.app.mapper.NoticeMapper">

	<select id="selectNotices" resultType="Notice">
		SELECT
		n.notice_id, n.notice_title, n.event_id, n.notice_detail,
		n.notice_date, n.last_update, n.notice_target, t.target_color
		FROM
		notices n
		LEFT JOIN
		target_types t
		ON
		n.notice_target = t.target_name
		ORDER BY
		n.last_update DESC
	</select>

	<select id="selectLatestNotices" resultType="Notice">
		SELECT * FROM
		notices
		ORDER BY last_update DESC
		LIMIT 5
	</select>

	<select id="selectNoticeById">
		SELECT * FROM notices WHERE notice_id = #{noticeId}
	</select>

	<insert id="insert" parameterType="Notice">
		INSERT INTO
		notices(notice_title, event_id, notice_detail, notice_date,
		last_update, notice_target)
		VALUES (#{noticeTitle}, #{eventId},
		#{noticeDetail},
		#{noticeDate}, #{lastUpdate}, #{noticeTarget})
	</insert>

	<update id="update" parameterType="Notice">
		UPDATE notices
		SET notice_title
		= #{noticeTitle},
		event_id = #{eventId},
		notice_target =
		#{noticeDetail},
		notice_detail = #{noticeDetail},
		notice_date =
		#{noticeDate},
		last_update = #{lastUpdate},
		notice_target =
		#{noticeTarget}
		WHERE notice_id = #{noticeId}
	</update>

	<delete id="delete" parameterType="int">
		DELETE FROM notices WHERE
		notice_id = #{noticeId}
	</delete>

</mapper>