<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset='utf-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Web Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&display=swap" rel="stylesheet">

	<!-- CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
		integrity="sha384-tViUnnbYAV00FLIhhi3v/dWt3Jxw4gZQcNoSCxCIFNJVCx7/D55/wXsrNIRANwdD" crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">

	<!-- JS -->
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<title>回答入力</title>
</head>

<body>
	<div class="card text-white bg-primary mb-3" style="max-width: 100%;">
		<div class="card-header">回答入力</div>
		<div class="card-body">
			<h5 class="card-title">回答内容入力</h5>
			<p class="card-text">問い合わせに対する回答を入力してください</p>
		</div>
	</div>

	<span th:if="${#strings.isEmpty(inquery.noticeTitle)}">
		<p th:text="'対象行事:' + ${inquery.eventTitle}"></p>
	</span>
	<span th:if="${#strings.isEmpty(inquery.eventTitle)}">
		<p th:text="'対象お知らせ:' + ${inquery.noticeTitle}"></p>
	</span>



	<p>質問内容:
	</p>
	<span><strong>[[${inquery.inqueryTitle}]]</strong></span>
	<p>[[${inquery.inqueryDetail}]]</p>

	<form th:action="@{/inqueries/addAnswerConf/{id} (id=${inquery.inqueryId})}" th:object="${inquery}" method="post">
		<input type="hidden" name="inqueryId" th:value="*{inqueryId}">
		<input type="hidden" name="inqueryTitle" th:value="*{inqueryTitle}">
		<input type="hidden" name="inqueryDetail" th:value="*{inqueryDetail}">

		<label for="answer">回答内容</label>
		<div id="editor" th:utext="*{answer}"></div>
		<textarea id="answer" name="answer" th:field="*{answer}" style="display: none;"></textarea>

		<span>ステータス</span>
		<label>
			<input type="radio" name="status" th:value="未回答" checked="checked"> 未回答			
			<input type="radio" name="status" th:value="回答済み"> 回答済み
		</label>

		<input type="hidden" name="inqueryDate" th:value="*{inqueryDate}">
		<input type="hidden" name="answerDate" th:value="*{answerDate}">
		<input type="hidden" name="noticeId" th:value="*{noticeId}">
		<input type="hidden" name="eventId" th:value="*{eventId}">
		
		<button type="submit" class="btn btn-outline-primary">回答内容確認</button>


	</form>
	<!-- Include the Quill library -->
	<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>

	<!-- Initialize Quill editor -->
	<script>
		const toolbarOptions = [
			['bold', 'italic', 'underline', 'strike'],        // toggled buttons
			['link', 'image'],

			[{'list': 'ordered'}, {'list': 'bullet'}, {'list': 'check'}],
			[{'script': 'sub'}, {'script': 'super'}],      // superscript/subscript
			[{'indent': '-1'}, {'indent': '+1'}],          // outdent/indent

			[{'size': ['small', false, 'large', 'huge']}],  // custom dropdown
			[{'header': [1, 2, 3, 4, 5, 6, false]}],

			[{'color': []}, {'background': []}],          // dropdown with defaults from theme
			[{'font': []}],
			[{'align': []}],

			['clean']                                         // remove formatting button
		];

		const quill = new Quill('#editor', {
			modules: {
				toolbar: toolbarOptions
			},
			theme: 'snow'
		});
		const form = document.querySelector('form');
		form.onsubmit = function () {
			// Get the Quill editor content and set it to the textarea
			const answer = document.querySelector('#answer');
			answer.value = quill.root.innerHTML;  // Quill editor's HTML content
		};
	</script>

</body>

</html>