<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>[[${title}]]</title>
</head>

<body>
	<h1>[[${title}]]</h1>

	<p>行事名: [[${event.eventTitle}]]</p>
	<p>実施日: [[${#temporals.format(event.eventDate,'MM月dd日')}]]</p>
	<p>対象: [[${event.eventTarget}]]</p>
	<p>内容: [[${event.eventDetail}]]</p>

	<!-- 確認画面から修正画面に戻るためのフォーム -->
	<form action="/events/addEvent" method="post" th:object="${event}">
		<input type="hidden" name="eventTitle" th:value="*{eventTitle}">
		<input type="hidden" name="eventDate" th:value="*{eventDate}">
		<input type="hidden" name="eventTarget" th:value="*{eventTarget}">
		<input type="hidden" name="eventDetail" th:value="*{eventDetail}">
		<button type="submit">入力内容修正</button>
	</form>

	<!-- 確認画面からDBに送信するためのフォーム -->
	<form action="/events/addEventDone" method="post" th:object="${event}">
		<input type="hidden" name="eventTitle" th:value="*{eventTitle}">
		<input type="hidden" name="eventDate" th:value="*{eventDate}">
		<input type="hidden" name="eventTarget" th:value="*{eventTarget}">
		<input type="hidden" name="eventDetail" th:value="*{eventDetail}">
		<button type="submit">新規行事追加</button>
	</form>

</body>

</html>