<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset='utf-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Web Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Dancing+Script:wght@400..700&display=swap"
		rel="stylesheet">

	<!-- CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
		integrity="sha384-tViUnnbYAV00FLIhhi3v/dWt3Jxw4gZQcNoSCxCIFNJVCx7/D55/wXsrNIRANwdD" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">

	<!-- JS -->
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />

	<title>行事編集</title>
</head>

<body>

	<div th:replace="fragments/header :: header"></div>

	<main>
		<div class="crud-ope-name">
			<div class="card text-white bg-primary mb-3" style="max-width: 100%;">
				<div class="card-header">問い合わせ入力</div>
				<div class="card-body">
					<h5 class="card-title">問い合わせ内容入力</h5>
					<p class="card-text">問い合わせ内容を入力してください</p>
				</div>
			</div>
		</div>


		<div class="crud-ope-form">
			<span th:if="${#strings.isEmpty(inquery.noticeTitle)}">
				<p th:text="'対象行事:' + ${inquery.eventTitle}"></p>
			</span>
			<span th:if="${#strings.isEmpty(inquery.eventTitle)}">
				<p th:text="'対象お知らせ:' + ${inquery.noticeTitle}"></p>
			</span>

			<form th:action="@{/inqueries/addInqueryConf}" th:object="${inquery}" method="post">
				<p><label for="inqueryTitle">問い合わせタイトル</label>
					<input type="text" name="inqueryTitle" th:value="*{inqueryTitle}"
						placeholder="(例：駐車場について, 人数制限について)">
				</p>

				<p>
					<label for="inqueryDetail">問い合わせ詳細</label>
				<div id="editor" th:utext="*{inqueryDetail}"></div>
				<textarea id="inquery" name="inqueryDetail" th:field="*{inqueryDetail}"
					style="display: none;"></textarea>
				</p>

				<input type="hidden" name="inqueryDate" th:value="*{inqueryDate}">
				<input type="hidden" name="noticeId" th:value="*{noticeId}">
				<input type="hidden" name="status" th:value="未回答">
				<input type="hidden" name="noticeTitle" th:value="*{noticeTitle}">
				<input type="hidden" name="eventId" th:value="*{eventId}">
				<input type="hidden" name="eventTitle" th:value="*{eventTitle}">

				<div class="crud-ope-button">
					<button type="submit" class="btn btn-primary">確認画面へ</button>
					<a th:href="@{/home}" class="btn btn-secondary">キャンセル</a>
				</div>
			</form>
		</div>


		<!-- Include the Quill library -->
		<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>

		<!-- Initialize Quill editor -->
		<script>
			const toolbarOptions = [
				['bold', 'italic', 'underline', 'strike'],        // toggled buttons
				['link'],

				[{'list': 'ordered'}, {'list': 'bullet'}, {'list': 'check'}],
				[{'indent': '-1'}, {'indent': '+1'}],          // outdent/indent

				[{'size': ['small', false, 'large', 'huge']}],  // custom dropdown
				[{'header': [1, 2, 3, 4, 5, 6, false]}],

				[{'color': []}, {'background': []}],          // dropdown with defaults from theme
				[{'font': []}],
				[{'align': []}],

				['clean']                                         // remove formatting button
			];

			const quill = new Quill('#editor', {
				modules: {
					toolbar: toolbarOptions
				},
				theme: 'snow'
			});
			const form = document.querySelector('form');
			form.onsubmit = function () {
				// Get the Quill editor content and set it to the textarea
				const inquery = document.querySelector('#inquery');
				inquery.value = quill.root.innerHTML;  // Quill editor's HTML content
			};
		</script>

</body>

</html>