<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>行事削除確認</title>
</head>

<body>
	<h1>行事削除確認</h1>

	<p>以下の行事を削除します。よろしいですか？</p>

	<h2>【[[${event.eventTitle}]]】</h2>
	<p>実施日：[[${#temporals.format(event.eventDate,'MM月dd日')}]]</p> <!-- 削除確認フォーム -->
	<p>行事ID：[[${event.eventId}]]</p>
	<p>行事名: [[${event.eventTitle}]]</p>
	<p>実施日: [[${#temporals.format(event.eventDate,'MM月dd日')}]]</p>
	<p>対象: [[${event.eventTarget}]]</p>

	<form th:action="@{/events/deleteEventDone/{id}(id=${event.eventId})}" method="post">
		<input type="submit" th:value="削除"></input>

	</form>


</body>

</html>