<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>行事編集</title>
</head>
<body>
	<h1>行事編集</h1>
	<form th:action="@{/events/editEventConf/{id}(id=${event.eventId})}" th:object="${event}" method="post">
		
		<p>行事ID:<input type="text" th:field="*{eventId}"></p>
		
		<p>行事名：<input type="text" th:field="*{eventTitle}"></p>
		<p th:errors="*{eventTitle}"></p>
		
		<p>実施日：<input type="date" th:field="*{eventDate}"></p>
		<p th:errors="*{eventDate}"></p>
		
		<p>対象：<input type="text" th:field="*{eventTarget}"></p>
		<p th:errors="*{eventTarget}"></p>
		
		<p>内容：<input type="text" th:field="*{eventDetail}"></p>
		<p><input type="submit" value="入力内容確認"></p>
		
	</form>

</body>
</html>