<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset='utf-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Web Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&display=swap" rel="stylesheet">

	<!-- CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
		integrity="sha384-tViUnnbYAV00FLIhhi3v/dWt3Jxw4gZQcNoSCxCIFNJVCx7/D55/wXsrNIRANwdD" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">

	<!-- JS -->
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<title>問い合わせ一覧</title>
</head>

<body>
	<header class="container-fluid header">
		<div class="row shcool-name-and-nav">
			<div class="col-12 col-md-6 school-name">
				<a href="/home" class="d-flex align-items-center text-decoration-none text-dark">
					<img src="/images/logo_system.png" alt="ロゴ" class="img-fluid"
						style="width: 20%; margin-right: 10px;">
					<h2 class="mb-0">横浜市立新横浜小学校</h2>
				</a>
			</div>

			<div class="col-12 col-md-6 nav-link">
				<div class="row navs">
					<div class="col-3"><a th:href="@{/notices}">お知らせ</a></div>
					<div class="col-3"><a th:href="@{/events}">行事予定</a></div>
					<div class="col-3"><a th:href="@{/inqueries}">問い合わせ</a></div>
					<div class="col-3"><a th:href="@{/logout}">ログアウト</a></div>
				</div>
			</div>

		</div>


		<div class="card border-light text-dark">
			<img src="images/header.jpg" class="card-img" alt="背景画像">
			<div class="card-img-overlay d-flex">
				<div class="my-auto">
					<h1 class="page-title">Inquery</h1>
				</div>
			</div>

		</div>

	</header>
	<main>
		<div class="container-fluid">
			<div class="row">
				<div class="col-6">
					<div class="row">
						<div class="col-12">お知らせへの問い合わせ</div>
						<div class="col-12">
							<div class="accordion" id="accordionNotice">
								<div class="accordion-item" th:each="noticeInquery, stat :  ${noticeInqueries}">
									<h2 class="accordion-header" th:id="'heading' + ${stat.index}">
										<button class="accordion-button" type="button" data-bs-toggle="collapse"
											th:attr="data-bs-target='#collapse' + ${stat.index}" aria-expanded="false"
											th:attrappend="aria-controls='collapse' + ${stat.index}">
											[[${noticeInquery.inqueryTitle}]]
										</button>
									</h2>
									<div class="accordion-collapse collapse" th:id="'collapse' + ${stat.index}"
										th:attrappend="aria-labelledby='heading' + ${stat.index}"
										data-bs-parent="#accordionNotice">
										<div class="accordion-body">
											[[${noticeInquery.inqueryDetail}]]
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="col-6">
					<div class="row">
						<div class="col-12">行事への問い合わせ</div>
						<div class="col-12">
							<div class="accordion" id="accordionEvent">
								<div class="accordion-item" th:each="eventInquery, stat :  ${eventInqueries}">
									<h2 class="accordion-header" th:id="'heading' + ${stat.index}">
										<button class="accordion-button" type="button" data-bs-toggle="collapse"
											th:attr="data-bs-target='#collapse' + ${stat.index}" aria-expanded="false"
											th:attrappend="aria-controls='collapse' + ${stat.index}">
											[[${eventInquery.inqueryTitle}]]
										</button>
									</h2>
									<div class="accordion-collapse collapse" th:id="'collapse' + ${stat.index}"
										th:attrappend="aria-labelledby='heading' + ${stat.index}"
										data-bs-parent="#accordionEvent">
										<div class="accordion-body">
											[[${eventInquery.inqueryDetail}]]
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</main>



</body>

</html>