<header>
	<div class="container-fluid">
		<div class="row home-contents">
			<div class="col-md-1 system-logo">
				<a th:href="@{/home}"><img th:src="@{/images/system-logo.png}" alt="システムロゴ画像"></a>
			</div>
			<div class="col-md-5 school-name">
				<a th:href="@{/home}"><h1>横浜市立新横浜小学校</h1></a>
			</div>

			<div class="col-md-6 nav-links">
				<div class="nav-links">
					<a th:href="@{/notices}">お知らせ</a>
					<a th:href="@{/events}">行事予定</a>
					<a th:href="@{/inqueries}">Q&amp;A</a>
					<a th:href="@{/logout}">ログアウト</a>
				</div>
			</div>
		</div>
	</div>
</header>