@charset "UTF-8";

body {
	font-family: "M PLUS 1", sans-serif;
	font-weight: 500;
	font-style: normal;
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 40px;
}

.header {
	white-space: nowrap;
}

.shcool-name-and-nav {
	display: flex;
	text-decoration: none;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	color: #343a40;
	padding-right: 15px;
	margin-bottom: 5px;
}

/* ロゴと学校名の高さ調整 */
.school-name {
	display: flex;
	align-items: center;
}

/* ナビゲーションリンクの配置調整 */
.nav-link {
	display: flex;
	justify-content: end;
	text-align: right;
	padding-right: 5px;

}

.nav-link a {
	text-decoration: none;
	color: #343a40;
	margin-left: 5px;
}

.nav-link :hover {
	color: lightblue;
}

.header-img {
	position: relative;
	width: 100%;
	height: auto;
	margin-top: 5px;
}

/* header画像 */
.card-img {
	margin-bottom: 20px;
}

/* レスポンシブ対応の調整 */
@media (max-width: 768px) {
	.nav-link {
		justify-content: flex-start;
		text-align: left;
		padding-left: 8px;
		margin-bottom: 5px;
	}

	.page-title h1 {
		font-size: 6vw;
		/* モバイル画面ではさらに小さく */
	}
}


main.container-fluid {
	padding-left: 30px;
}

.latest-notice {
	padding-top: 20px;
}

.latest-list {
	white-space: nowrap;
}

.status {
	font-size: 0.6em;
	color: red;
	text-align: center;
}

.th-last-update {
	font-size: 0.8em;
}

.th-notice-date {
	font-size: 0.8em;
}

.th-notice-title {
	font-size: 0.8em;
}

.table-link {
	display: block;
	text-decoration: none;
	color: #212529;
}

.about-school {
	padding: 20px;
}

/*Notices*/
/*listNotice*/
main.main-contents {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.listnotice-table-date {
	width: 10%;
}

.listnotice-tabel-title {
	width: 20%;
}

.listnotice-tabel-detail {
	width: 40%;
}

.listnotice-tabel-operation {
	width: 15%;
}


.notice-detail {
	overflow: hidden;
	/* テキストがはみ出さないように隠す */
	text-overflow: ellipsis;
	/* はみ出した部分を「...」で表示 */
}

/* Events */
.calendar-events-title {
	font-size: 2em;
}

#calendar {
	width: 100%;
	height: 100%;
	margin-top: 20px;
	margin-left: 5px;
	padding-right: 30px;
	font-size: 1vw;
}

.fc .fc-col-header-cell-cushion,
.fc .fc-daygrid-day-number {
	text-decoration: none;
	color: #212529;
}

/* ▼ 曜日表示（日〜土）の色変更 */
.fc-col-header-cell:first-child .fc-col-header-cell-cushion {
	color: red;	
}

.fc-col-header-cell:last-child .fc-col-header-cell-cushion {
	color: blue;
}

/* ▼ 各日付部分の色変更（日曜:赤、土曜:青） */
.fc-daygrid-day.fc-day-sun .fc-daygrid-day-number {
	color: red;
}

.fc-daygrid-day.fc-day-sat .fc-daygrid-day-number {
	color: blue;
}



.list-events-title {
	font-size: 2em;
}

.list-events {
	margin-top: 20px;
	padding-left: 20px;
}

.form-group {
	display: flex;
	flex-direction: column;
}

.form-row {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.form-row label {
	width: 60px;
	text-align-last: justify;
	padding-right: 5px;
}

.form-row input {
	width: 200px;
	margin-right: 10px;
}

.form-row span {
	margin: 0 10px;
}

.form-row-a label {
	width: 60px;
	text-align-last: justify;
	margin-bottom: 2px;
}

.error-message {
	color: red;
}

.btn {
	margin-top: 10px;
}